.product {
  border-bottom: 2px solid #323232;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.product:last-child {
  border-bottom: none;
}

.product .preview {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 250px;
}

.product .preview img {
  height: 150px;
}

.product .info {
  width: 390px;
}

.product .info footer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.product .product_controller {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  padding: .5rem;
  justify-content: flex-start;
  width: 170px;
}

.product .user figure {
  border-radius: 100px;
  height: 40px;
  margin: 0;
  margin-right: .5rem;
  overflow: hidden;
  width: 40px;
}

.product .upvote button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: .5rem;
}
