@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;700&display=swap');

body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.product-list {
  margin: 0;
  width: 50%;
}
